<template>
	<v-container class="mt-4 ml-2" fluid>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="shadowCard">
	  		  <v-card-title primary-title>
	  		    <span class="text-subtitle-1">Artículos</span>
	  		    <v-spacer></v-spacer>

            <v-btn 
              class="mr-2" 
              small dark color="green"
              @click="exportExcel( articulos  , 'articulos')"
              tile
            >
              <v-icon small>mdi-microsoft-excel</v-icon>
            </v-btn>

	  		    <v-btn
              color="orange"
              dark
              class="mr-2"
              @click="dialog = true"
              small
              tile
            >
              <v-icon left small>mdi-plus</v-icon>
              Agregar
            </v-btn>

            <v-btn
              color="primary"
              dark
              class="text-capitalize"
              @click="initialize()"
              small
              tile
            >
              <v-icon left small>mdi-refresh</v-icon>
              Actualizar
            </v-btn>
	  		  </v-card-title>
          
	  		  <v-card-text>
	  		  	<v-row justify="end">
	  		  		<v-col cols="12" md="6">
	  		  			<v-text-field
	  		  			  name="name"
	  		  			  label="Buscar"
	  		  			  id="id"
	  		  			  filled
	  		  			  dense
	  		  			  hide-details
	  		  			  append-icon="mdi-magnify"
	  		  			  v-model="search"
	  		  			></v-text-field>
	  		  		</v-col>
	  		  	</v-row>
	  		    <v-row>
	  		    	<v-col cols="12">
							  <v-data-table
							    :headers="headers"
							    :items="articulos"
							    class="elevation-0"
							    :search="search"
							    :page.sync="page"
			            @page-count="pageCount = $event"
							    :mobile-breakpoint="100"
			            hide-default-footer
			            dense
							  >
							    <!-- Valores que ocupan botons, chips, iconos, etc -->
							    <template v-slot:item.type_articulo="{ item }">
							      <v-chip 
							      	small
							      	:color="item.type_articulo == 1 ? 'green' : 'red' "
							      	dark
							      >{{ item.type_articulo == 1 ? 'SI' : 'NO' }}</v-chip>
							    </template>
							  	
							    <template v-slot:item.actions="{ item }">
							    	<v-btn 
							    		color="primary" 
							    		x-small
							    		@click="editItem(item)"
							    		class="mr-2"
							    	>
								      <v-icon small>mdi-magnify</v-icon>
							    	</v-btn>

							    	<v-btn 
							    		color="error" 
							    		x-small
							    		@click="deleteItem(item)"
							    		class="mr-2"
							    	>
								      <v-icon small> mdi-delete</v-icon>
							    	</v-btn>
							    </template>

							  </v-data-table>
	  		    	</v-col>
	  		    </v-row>
	  		  </v-card-text>

	  		  <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :length="pageCount"
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <!-- Dialogo de editar o agregar-->
	  <v-dialog
      v-model="dialog"
      max-width="600px"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-subtitle-1">{{ formTitle }}</span>
          <v-spacer></v-spacer>
          <span class="text-subtitle-1">
          	<strong>ID: {{ editedItem.id_articulos }}</strong>
          </span>
        </v-card-title>

        <v-card-text>
          <v-row>
          	<v-col cols="12">
              <v-text-field
                v-model="editedItem.articulo"
                label="Artículo"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-autocomplete
                dense
                filled
                clearable
                v-model="editedItem.id_unidad"
                :items="unidades"
                label="Unidad"
                item-text="unidad"
                item-value="id_unidades"
                hide-details
              >
              </v-autocomplete>
            </v-col>

            <v-col cols="12" md="6">
              <label class="black--text">Tipo de artículo</label>
              <v-radio-group
                v-model="editedItem.type_articulo"
                dense
                hide-details
                row
              >
                <v-radio
                  label="Interno"
                  :value="1"
                ></v-radio>
                <v-radio
                  label="Externo"
                  :value="2"
                ></v-radio>
              </v-radio-group>
            </v-col>

            <Materiales v-if="editedItem.type_articulo == 1" :editedItem="editedItem"/>

            <v-col cols="12">
              <v-textarea
                rows="3"
                auto-grow
                v-model="editedItem.descripcion"
                label="Descripción"
                filled
                hide-details
                dense
              ></v-textarea>
            </v-col>

            <v-col cols="12">
              <v-file-input
                multiple
                filled
                label="File input"
                append-icon="mdi-camera"
                v-model="files"
                accept="image/png, image/jpeg, image/bmp"
              >
                <template v-slot:selection="{ text }">
                  <v-chip
                    small
                    label
                    color="primary"
                  >
                    {{ text }}
                  </v-chip>
                </template>
              </v-file-input>
		        </v-col>

		        <v-col cols="12" md="6" v-for="(foto , i ) in editedItem.photos" :key="i">
	            <v-img :src="url + foto.url" contain aspect-ratio="2"/>
		        </v-col>

          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="black"
            tile
            small
            dark
            @click="close"
          >
          	<v-icon small left>mdi-cancel</v-icon>
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            tile
            small
            dark
            @click="save"
          >
          	<v-icon small left>mdi-content-save</v-icon>
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialogo para eliminar -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
      	<v-card-text>
	      	<v-row justify="space-around">
	      		<v-col cols="6">
	      			<v-card class="elevation-0" height="100%" style="display: table;">
		      			<div class="text-subtitle-1" style="display: table-cell; vertical-align: middle;">
		      				<strong>Eliminar</strong> ¿Estás seguro que deseas eliminar el ciclo?
			      			<v-card-actions class="pt-6">
			      				<!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
			      			  <v-btn color="error" text  class="mr-2" @click="closeDelete()">No, cancelar</v-btn>
			      			  <!-- Guardar la información  -->
			      			  <v-btn color="#5C5C5C"  dark class="elevation-6"  @click="deleteItemConfirm()">Si</v-btn>
			      			</v-card-actions>
		      			</div>
	      			</v-card>
	      		</v-col>
	      		<v-col cols="5">
	      			<v-img src="@/assets/borrar.png"></v-img>
	      		</v-col>
		      </v-row>
      	</v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

	</v-container>
</template>
<script>
	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import Materiales            from '@/components/articulos/Materiales.vue'

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'


  export default {

    mixins: [ validarErrores, funcionesExcel],


  	components:{
      Alerta,
      carga,
      Materiales
    },

    data: () => ({
    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      dialog: false,
      dialogDelete: false,
      
      editedIndex: -1,

      editedItem: {
        id_articulos:0,
				articulo:'',
				id_unidad:'',
				descripcion:'',
				fecha_creacion:null,
				deleted:0,
        type_articulo:0,
        materiales:[],
      },

      defaultItem: {
        id_articulos:0,
				articulo:'',
				id_unidad:'',
				descripcion:'',
				fecha_creacion:null,
				deleted:0,
        type_articulo:0,
        materiales:[],
      },

      // Filtros: 
      incio:null,
			fin:null,

      // tabla
			search:'',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      articulos: [],
      headers: [
        { text: 'ID'             , value: 'id_articulos'             },
        { text: 'Artículo'       , value: 'articulo'                 },
        { text: 'Unidad'         , value: 'unidad'                   },
        { text: 'Descripcion'    , value: 'descripcion'              },
        { text: 'Interno'        , value: 'type_articulo'            },
        { text: 'fecha_creacion' , value: 'fecha_creacion'           },
        { text: 'Actions'        , value: 'actions', sortable: false },
      ],

      unidades:[],
      file: '',
      dragging: false,
      vistaPrevia: null,
      url: '',
      files:[]

    }),

    computed: {
    	...mapGetters('login',['getdatosUsuario']),
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar Artículo' : 'Editar Artículo'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created () {
    	this.url = this.$http.options.root 
      await this.initialize()
      await this.getUnidades()
    },

    methods: {
      initialize () {
      	this.cargar = true
        this.articulos = []
        return this.$http.get('articulos').then(response=>{
        	this.articulos = response.body.articulos
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getUnidades () {
      	this.cargar = true
        this.unidades = []
        return this.$http.get('unidades').then(response=>{
        	this.unidades = response.body.unidades
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      editItem (item) {
        this.editedIndex = this.articulos.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true

        console.log( item )
      },

      deleteItem (item) {
        this.editedIndex = this.articulos.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
      	this.cargar = true
        // Lo mandapos por el EP
        this.editedItem.deleted = 1
        this.$http.delete('articulos/' + this.editedItem.id_articulos, this.editedItem).then(response=>{
        	this.cargar = true
        	this.closeDelete()
        	this.initialize()
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      async save () {
      	// Cargamos al usuario que hizo el cambio
	      this.cargar = true
	      // this.editedItem.imagen = nombre_archivo

        if (this.editedIndex > -1) {
	        // Lo mandapos por el EP
          // Lo mandapos por el EP
          this.editedItem.materiales = this.editedItem.materiales
            .filter(el => !el.id)
            .map(id => id.id_material);

          // En caso de que el material vaya vacio, tenemos que eliminar la propiedad
          if( !this.editedItem.materiales.length) {  delete this.editedItem.materiales }

          if( !this.editedItem.materiales ){ 
            delete this.editedItem.materiales
          }

          this.$http.put('articulos/' + this.editedItem.id_articulos, this.editedItem).then( async ( response )=>{

            try{

              if( this.files.length )
                await this.grabarImagen( this.editedItem.id_articulos ).then( response => response )
            
            }catch( error ){
              return this.validarError( error )
            }

          	// Limpiamos la variable de imagen 
          	this.file = null
          	this.vistaPrevia = null

          	this.validarSuccess( response.body.msg )
          	this.initialize()
            this.close()

	        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })

        } else {
	        // Lo mandapos por el EP
          this.editedItem.materiales = this.editedItem.materiales
            .filter(el => !el.id)
            .map(id => id.id_material);

          // En caso de que el material vaya vacio, tenemos que eliminar la propiedad
          if( !this.editedItem.materiales.length) {  delete this.editedItem.materiales }

          if( !this.editedItem.materiales ){ 
            delete this.editedItem.materiales
          }

          this.$http.post('articulos', this.editedItem).then( async response=>{
          	// Limpiamos la variable de imagen 

            // Validamos si existe una foto para poder guardar
            try{

              if( this.files.length )
                await this.grabarImagen( response.body.id ).then( response => response )
            
            }catch( error ){
            
              return this.validarError( error )
            }

          	this.initialize()
	        	this.cargar = false
            this.close()

	        }).catch( error =>{
          	this.validarError( error )
        	}).finally( () => { this.cargar = false })
        }
      },

      // Función para grabar la imagen
      grabarImagen( id ){
      	// Creamos una promesa para retornar la respuesta
        return new Promise((resolve,reject)=>{
        	// Creamos la variable que nos ayuda a generar imagenes
          let formData = new FormData();

          for( const i in this.files ){
            //se crea el objeto y se le agrega como un apendice el archivo
            formData.append("photos", this.files[i]);
          }

          formData.append("id_articulo", id);

          // Enviamos el post para grabar las imágenes
          this.$http.post("articulos/photos", formData).then( response => {
            this.files = []
            this.vistaPrevia = null
            resolve( response.body.nombre ) 
          }).catch( error =>{
            reject( error )
          }).finally( () => { this.cargar = false })
        })
      },

	    getBase64(file) {
	      var me = this
	      var reader = new FileReader();
	      reader.readAsDataURL(file);
	      reader.onload = function () {
	        me.vistaPrevia = {
	          url: reader.result, 
	          image_name: file.name
	        }
	      };
	    },

	    onChange(e) {
	      var files = e.target.files || e.dataTransfer.files;
	      
	      if (!files.length) {
	        this.dragging = false;
	        return;
	      }
	      
	      this.createFile(files[0]);
	    },


	    removeFile() {
	    	this.file = ''
	    }

    },
  }
</script>


<style scoped>
  .dropZone {
    width: 80%;
    height: 150px;
    position: relative;
    border: 2px dashed #eee;
  }

  .dropZone:hover {
    border: 2px solid #D8D8D8;
  }

  .dropZone:hover .dropZone-title {
    color: #1975A0;
  }

  .dropZone-info {
    color: #A8A8A8;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
  }

  ..dropZone-title {
    color: #787878;
  }

  .dropZone input {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .dropZone-upload-limit-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .dropZone-over {
    background: #D8D8D8;
    opacity: 0.8;
  }

  .dropZone-uploaded {
    width: 80%;
    height: 200px;
    position: relative;
    border: 2px dashed #eee;
  }

  .dropZone-uploaded-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D8D8D8;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
  }

  .removeFile {
    width: 200px;
  }
</style>