<template>
	<div>
		<v-card class="elevation-0">
		  <v-card-text>
		  	<v-row justify="end">
		  		<v-col cols="12">
		  			<v-autocomplete
            	dense
            	filled
              clearable
              v-model="articulo"
              :items="articulos"
              label="Material"
              item-text="articulo"
              item-value="id_articulos"
              hide-details
              return-object
            >

            	<template v-slot:append-outer>
                <v-btn
				          color="orange"
				          dark
				          class="mr-2"
				          @click="addArticulo()"
				          small
				          tile
				        >
				          <v-icon left small>mdi-plus</v-icon>
				          Agregar
				        </v-btn>
	            </template>

            </v-autocomplete>
		  		</v-col>
		  	</v-row>

		    <v-row>
		    	<v-col cols="12">
					  <v-data-table
					    :headers="headers"
					    :items="materiales"
					    class="elevation-1"
					    :mobile-breakpoint="100"
	            dense
					  >
					    <template v-slot:item.actions="{ item }">
					    	<v-btn 
					    		color="error" 
					    		x-small
					    		@click="deleteItem(item)"
					    		class="mr-2"
					    	>
						      <v-icon small> mdi-delete</v-icon>
					    	</v-btn>
					    </template>

					    <template v-slot:no-data>
					      <v-btn
					        color="primary"
					        @click="initialize"
					        small
					      >
					        Actualizar
					      </v-btn>
					    </template>

					  </v-data-table>
		    	</v-col>
		    </v-row>
		  </v-card-text>
		</v-card>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

	</div>
</template>
<script>
	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'

  export default {

    mixins: [ validarErrores, funcionesExcel],

    props: [
    	'editedItem'
    ],

  	components:{
      Alerta,
      carga,
    },

    data: () => ({
    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      dialogDelete: false,
      
      editedIndex: -1,

      // tabla
			search:'',
      articulos: [],
      headers: [
        { text: 'Artículo'       , value: 'articulo'       },
        { text: 'Unidad'         , value: 'unidad'         },
        { text: 'Descripcion'    , value: 'descripcion'    },
        { text: 'Actions'        , value: 'actions'        },
      ],

      articulo: null,
      materiales:[],

    }),

    computed: {
    	...mapGetters('login',['getdatosUsuario']),
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created () {
      await this.initialize()
    },

    methods: {
      initialize () {
      	this.cargar    = true
        this.articulos = []

        return this.$http.get('articulos').then(response=>{

        	this.articulos  = response.body.articulos.filter( el => { return [0,2].includes ( el.type_articulo ) })

        	this.materiales = this.editedItem.materiales
        	// for( const i in this.editedItem.materiales ){

        	// 	const { id_material, id } = this.editedItem.materiales[ i ]

        	// 	// Buscar el artículo en los artículos
        	// 	const existeArticulo = this.articulos.find( el => el.id_articulos == id_material )

        	// 	const payload = {
        	// 		id_articulo: this.editedItem.id_articulos,
	      	// 		id_material: existeArticulo ? existeArticulo.id_articulos : '',
	      	// 		articulo   : existeArticulo ? existeArticulo.articulo     : '',
	      	// 		unidad     : existeArticulo ? existeArticulo.unidad       : '',
	      	// 		descripcion: existeArticulo ? existeArticulo.descripcion  : '',
	      	// 		id
        	// 	}

        	// 	this.materiales.push( payload )

        	// }



        	this.cargar      = false

        }).catch( error =>{

          this.validarError( error )

        }).finally( () => { this.cargar = false })

      },

      deleteItem (item) {

      	const { id } = item

      	// Si existe el id, hay que eliminarlo del servidor
      	if( id ){
      		this.cargar = true
	        // Lo mandapos por el EP
	        this.$http.delete('articulos/materials/' + id).then(response=>{
	        	this.cargar = false
	        	this.editedIndex = this.articulos.indexOf(item)
	        	this.materiales.splice(this.editedIndex, 1)

	        	this.editedItem.materiales = this.materiales

	        }).catch( error =>{
	          this.validarError( error )
	        }).finally( () => { this.cargar = false })
      	}else{
      		// Si no existe, solo se elimina y listo
      		this.editedIndex = this.articulos.indexOf(item)
	        this.materiales.splice(this.editedIndex, 1)
	        this.editedItem.materiales = this.materiales

      	}

      },

      addArticulo( ){
      	if( this.articulo ){

      		const payload = {
      			id_articulo: this.editedItem.id_articulos,
      			id_material: this.articulo.id_articulos,
      			articulo   : this.articulo.articulo,
      			unidad     : this.articulo.unidad,
      			descripcion: this.articulo.descripcion
      		}

      		this.materiales.push( payload )
      	}


      	this.editedItem.materiales = this.materiales

      	this.articulo = null
      }
    },
  }
</script>
