<template>
	<v-container class="mt-4 ml-2" fluid>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="shadowCard">
	  		  <v-card-title primary-title>
	  		    <span class="text-subtitle-1">Discrepancias</span>
	  		    <v-spacer></v-spacer>

            <v-btn 
              class="mr-2" 
              small dark color="green"
              @click="exportExcel( almacen  , 'Discrepancias')"
              tile
            >
              <v-icon small>mdi-microsoft-excel</v-icon>
            </v-btn>

            <v-btn
              color="primary"
              dark
              class="text-capitalize"
              @click="initialize()"
              small
              tile
            >
              <v-icon left small>mdi-refresh</v-icon>
              Actualizar
            </v-btn>
	  		  </v-card-title>
          
	  		  <v-card-text>
	  		  	<v-row justify="end">
	  		  		<v-col cols="12" md="6">
	  		  			<v-text-field
	  		  			  name="name"
	  		  			  label="Buscar"
	  		  			  id="id"
	  		  			  filled
	  		  			  dense
	  		  			  hide-details
	  		  			  append-icon="mdi-magnify"
	  		  			  v-model="search"
	  		  			></v-text-field>
	  		  		</v-col>
	  		  	</v-row>
	  		    <v-row>
	  		    	<v-col cols="12">
							  <v-data-table
							    :headers="headers"
							    :items="almacen"
							    class="elevation-0"
							    :search="search"
							    :page.sync="page"
			            @page-count="pageCount = $event"
							    :mobile-breakpoint="100"
			            hide-default-footer
			            dense
							  >
							    <template v-slot:item.real="props">
						        <v-edit-dialog
						          :return-value.sync="props.item.real"
						          @save="save"
						          @cancel="cancel"
						          @open="open"
						          @close="close"
						          save-text="Guardar"
						          cancel-text="Cancelar"
						        >
						          {{ props.item.real }}
						          <template v-slot:input>
						            <v-text-field
						              v-model="props.item.real"
						              label="Cantidad real"
						              type="number"
						            ></v-text-field>
						          </template>
						        </v-edit-dialog>
						      </template>

							  </v-data-table>
	  		    	</v-col>
	  		    </v-row>
	  		  </v-card-text>
	  		  <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :length="pageCount"
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <v-snackbar
      v-model="snack"
      :timeout="3000"
      :color="snackColor"
    >
      {{ snackText }}

      <template v-slot:action="{ attrs }">
        <v-btn
          v-bind="attrs"
          text
          @click="snack = false"
        >
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

	</v-container>
</template>
<script>
	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'

  export default {

    mixins: [ validarErrores, funcionesExcel],


  	components:{
      Alerta,
      carga,
    },

    data: () => ({
    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      // tabla
			search:'',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      almacen: [],
      headers: [
        { text: 'ID'             , value: 'id_articulos'             },
        { text: 'Artículo'       , value: 'articulo'                 },
        { text: 'Stock'          , value: 'stock'                    },
        { text: 'Real'           , value: 'real'                     },
        { text: 'Diferencia'     , value: 'diferencia'               },
      ],

      snack: false,
      snackColor: '',
      snackText: '',

    }),

    computed: {
    	...mapGetters('login',['getdatosUsuario']),
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar libro' : 'Editar libro'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created () {
    	this.url = this.$http.options.root + 'imagenes/'
      await this.initialize()
    },

    methods: {
      initialize () {
      	this.cargar = true
        this.almacen = []
        return this.$http.get('articulos/almacen').then(response=>{
        	this.almacen = response.body.stock
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      save () {
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'Datos guardados'

        this.almacen = this.almacen.map( almacen => {
        	let real       = almacen.real ? almacen.real : false
        	let diferencia = real ? almacen.stock - real : '' 
        	real = real ? real : ''
        	
					return {
						...almacen,
						diferencia,
						real
					}
				});
      },

      cancel () {
        this.snack = true
        this.snackColor = 'error'
        this.snackText = 'Cancelado'
      },

      open () {
        this.snack = true
        this.snackColor = 'info'
        this.snackText = 'Dialog abierto'
      },

      close () {
        console.log('Dialog closed')
      },
    },
  }
</script>
