<template>
  <v-app>
    <v-app-bar app color="primary" dark height="56px" v-if="getLogeadoCapa">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      INVENTARIO
      <v-spacer></v-spacer>
      <v-btn color="white" icon @click="salir"><v-icon>mdi-exit-to-app</v-icon></v-btn>
    </v-app-bar>

    <!-- Navigation drawer -->
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="mini"
      app
      v-if="getLogeadoCapa"
    >
      <v-list-item class="px-2">
        <v-list-item-avatar>
          <v-img
            :src="avatar + this.getUsuarioCapa.nombre"
          ></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>
            {{ getUsuarioCapa.nombre }}
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ getUsuarioCapa.puesto }}
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-btn icon @click.stop="mini = !mini">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-group
          v-for="item in menu"
          :key="item.title"
          :prepend-icon="item.icon"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            color="primary"
            v-for="child in item.items"
            :key="child.title"
            :to="{ name: child.name }"
          >

            <v-list-item-icon>
              <v-icon color="primary">mdi mdi-circle-medium theme--light</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>


      <!-- MENU -->
      <!-- <v-list dense nav>
        <v-list-item
          v-for="item in menu"
          :key="item.title"
          link
          color="primary"
          :to="{ name: item.name }"
        >
          <v-list-item-icon>
            <v-icon color="primary">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list> -->
    </v-navigation-drawer>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "App",

  data: () => ({
    drawer: true,
    items: [],

    menuCapacitado: [],
    mini: true,
    avatar: "",
  }),

  methods:{
    ...mapActions('UsuarioCapa',['guardarInfo','salirLogin']),

    salir () {
      this.$router.push({name: 'Login'})
      this.salirLogin()
    }
  },

  created() {
    this.avatar ="https://ui-avatars.com/api/?background=0B2B59&color=fff&rounded=true&format=svg&name=";
  },

  computed: {
    ...mapGetters("UsuarioCapa", ["getUsuarioCapa", "getLogeadoCapa"]),

    menu(){
      return [
        { 
          title: "Administración", 
          icon: "mdi-account", 
          items:[
            { title: "Usuarios"      , icon: "mdi-account"             , name: "Usuarios"      },
            { title: "Puestos"       , icon: "mdi-account-tie"         , name: "Puestos"       },
          ]      
        },

        { 
          title: "Almacén", 
          icon: "mdi-book", 
          items:[
            { title: "Unidades"      , icon: "mdi-ruler"               , name: "Unidades"      },
            { title: "Artículos"     , icon: "mdi-package"             , name: "Articulos"     },
            { title: "Entradas"      , icon: "mdi-archive-arrow-down"  , name: "Entradas"      },
            { title: "Salidas"       , icon: "mdi-archive-arrow-up"    , name: "Salidas"       },
            { title: "Almacén"       , icon: "mdi-store"               , name: "Almacen"       },
            { title: "Discrepancias" , icon: "mdi-alert"               , name: "Discrepancias" }
          ]      
        },

        { 
          title: "Producción", 
          icon: "mdi-hard-hat", 
          items:[
            { title: "Etapas"            , icon: "mdi-package"             , name: "Etapas"         },
            { title: "Proyectos"         , icon: "mdi-ruler"               , name: "Proyectos"      },
            { title: "Centro de calidad" , icon: "mdi-archive-arrow-down"  , name: "CentroCalidad"  },
            { title: "Progresos"         , icon: "mdi-archive-arrow-down"  , name: "Progresos"      },
          ]      
        },

      ]
    }
  },
};
</script>
<style>

  main{
    background: #F4F2F2 ;
  }

  .shadowCard{
    border-radius: 8px !important; 
    box-shadow: 0 20px 27px 0 rgba(0,0,0,0.2)  !important;
  }

  .v-application--is-ltr .v-list-item__icon:first-child{
    margin-right: 8px !important;
  }

  .v-application--is-ltr .v-list-item__action:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__avatar:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__icon:last-of-type:not(:only-child) {
    margin-left: 6px !important;
  }

  

  .v-dialog.v-dialog--active.v-dialog--fullscreen::-webkit-scrollbar {
    -webkit-appearance: none !important;
  }

  .v-data-table--fixed-header > .v-dialog.v-dialog--active.v-dialog--fullscreen::-webkit-scrollbar:vertical {
    width: 2px !important;
  }

  .v-dialog.v-dialog--active.v-dialog--fullscreen::-webkit-scrollbar:vertical{
    width: 2px !important;
  }

  .v-dialog.v-dialog--active.v-dialog--fullscreen::-webkit-scrollbar-button:increment,.v-dialog.v-dialog--active.v-dialog--fullscreen::-webkit-scrollbar-button{
    display: none;
  }

  .v-dialog.v-dialog--active.v-dialog--fullscreen::-webkit-scrollbar:horizontal{
    height: 2px !important;
  }

  .v-dialog.v-dialog--active.v-dialog--fullscreen::-webkit-scrollbar-thumb{
    background-color: #BABCBF;
    border-radius: 20px;
    border: 1px solid #ededed;
  }


  .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
    align-self: center;
    margin: 0;
    min-width: 0px !important;
    justify-content: flex-end;
  }

  .v-application--is-ltr .v-list-group--no-action.v-list-group--sub-group > .v-list-group__items > .v-list-item {
    padding-left: 40px !important;
  }

  .v-application--is-ltr .v-list--dense.v-list--nav .v-list-group--no-action > .v-list-group__items > .v-list-item {
    padding-left: 20px !important;
  }

</style>

